.features {
  text-align: center;
  border: 1px solid #e8e9ed;
  padding: 30px;
  margin-bottom: 25px;
}

.features__title {
  font-size: 11px;
  color: rgb(33, 33, 33);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-bottom: 15px;
}

.features__text {
  margin-bottom: 4px;
}

.features__text-list {
  text-align: left;
  line-height: 1.9;
}

.features__text-item:before {
  content: '\2022';
  color: #cc3366;
  padding-left: 7px;
  padding-right: 24px;
}